// Common font sizes
//
$base-small-font-size: rem-calc($rem-base - 4)
$base-medium-font-size: rem-calc($rem-base - 2)
$base-font-size: rem-calc($rem-base)
$base-large-font-size: rem-calc($rem-base + 2)
$base-xlarge-font-size: rem-calc($rem-base + 4)


// Additional colors
//
$white: #fffff

//Transition
//
$base-transition: .3s
